<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="currentPage === 0 ? 'disabled' : ''">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <li
      class="page-item"
      [ngClass]="i === currentPage ? 'active' : ''"
      *ngFor="let image of images; let i = index"
    >
      <a (click)="currentPage = i" class="page-link"> {{ i + 1 }} </a>
    </li>
    <li
      class="page-item"
      [ngClass]="currentPage === images.length - 1 ? 'disabled' : ''"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>
